/*
 * Composer css File
*/

.Composer {
    /* propertys here */
    width: 50%;
}

.element-array{
    display: inline;
}

.add-element {
    display: inline;
}

.container-inline{

    display: inline;
}